{% extends "base.html" %}

{% block title %}
<title>about</title>
{% endblock title %}

{% block main_content %}
    <div class="main-content">
        <div class="background-block"></div> <!-- Фоновый блок -->
        <div class="content-block">
            <h2>Страница О нас</h2>
            <p>Этот блок располагается поверх фонового изображения, но между футером и хедером. Вы можете добавить сюда любой текст, кнопки или другие элементы.</p>
        </div>
    </div>
{% endblock main_content %}
